@model GameHub.Models.BackupLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BackupLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BackupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BackupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
